<%= render 'layouts/mensajes' %>

<%= render 'compartido/errores', obj: @clase %>

<div class="row">
	<div class="well col-md-8 col-md-offset-2">
		<%= form_for @clase do |f| %>

			<%= f.label :clave %>
			<%= f.text_field :clave %>

			<%= f.label :materia %>
			<%= f.text_field :nombre %>


			<%= f.submit('Editar materia', class: "btn btn-success") %>

		 <%end%>
	</div>
</div>