<%= render 'layouts/mensajes' %>

<%= render 'layouts/dropdown_usuario'%>

<h1>Lecturas</h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Caso</th> 
      <th>Tema</th>
      <th>Materia</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecturas.each do |lectura| %>
      <tr>
      	<td><%=lectura.titulo%></td>
        <td><%=lectura.tema%></td>

        <%@clase = Clase.select("clases.nombre").where("clases.clave = ?", lectura.materia_clave) %>

        <% @clase.each do |clase| %>
         <td><%=clase.nombre%></td>
        <% end %>

        <td> 
        	<div>
              	<%= link_to "Abrir", lectura.pdf.url, :target => '_blank', class: "btn btn-primary btn-md"%>
        	</div>
      	</td>
      </tr>
    <% end %>
  </tbody>

</table>